#about {
	position: relative;

	.introduction {
		width: 100%;
	}

	.photo {
		width: 180px;
		height: 180px;
		overflow: hidden;
		margin: 32px auto;

		img {
			width: 100%;
		    transition: all 0.5s ease;

		    &:hover {
		    	transform:scale(1.03);
		    }
		}
	}
}

@media screen and (min-width: $breakpoint-tablet) {
	#about {
		display: flex;
		flex-direction: column;
		justify-content: center;

		.photo {
			width: 144px;
			height: 144px;
			margin: 16px 0;
		}
	}
}