#experience {
	h2 {
		padding-top: 32px;
	}
	.experience-item {
		margin: 16px 0 32px;

		h3 {
			margin: 0;
			padding: 0;
		}

		p {
			margin: 0;
			padding: 0;

			.establishment, .period {
				font-size: $smaller-text;
				display: inline-block;
				padding: 4px 0;
			}
		}
	}
}